<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for?(:title) ? yield(:title) : "Blog" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <% if current_admin %>
      <p> shut up and dance with me </p>
      <%= link_to "Sing out", "/logout", method: :delete %>
    <% else %>
      <%= link_to "sing in", "/login" %>
    <% end %>

    <p>
      <%= notice %>
    </p>

    <p>
      <%= alert %>
    </p>

    <%= yield %>
  </body>
</html>
